.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #F5F7FA;
}

.nav {
	padding: 22px 0 22px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav__nav-menu {
	width: 40.8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8.503%;
}

.nav__nav-menu a {
	color: #18191F;
	font-family: Inter;
	font-weight: 500;
}

.nav__account-access {
	width: 12.7%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7.7%;
}

.account-access__button--login {
	font-family: Inter;
	background-color: #F5F7FA;
	color: #4CAF4F;
	padding: 10px 20px 10px 20px;
	border-radius: 6px;
	font-size: 14px;
}

.account-access__button--signup {
	font-family: Inter;
	background-color: #4CAF4F;
	color: #F5F7FA;
	padding: 10px 20px 10px 20px;
	border-radius: 6px;
	font-size: 14px;
}

.header__slider {
	font-family: Inter;
	display: flex;
	width: 100%;
	height: 600px;
	align-items: center;
	justify-content: space-around;
}

.slider__slider-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.slider-title__text {
	font-size: 64px;
	font-weight: 600;
	color: #4D4D4D;
}

.slider-title__text span {
	color: #4CAF4F;
}

.slider-title__descr {
	font-size: 16px;
	font-weight: 400;
	color: #717171;
}

.slider-title__btn-cont {
	width: 100%;
	margin-top: 16px;
}

.slider-title__button {
	background-color: #4CAF4F;
	color: #FFFFFF;
	padding: 14px 32px 14px 32px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
}

.main__clients {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.clients__clients-title {
	width: 77.1%;
	font-family: Inter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.clients-title__title {
	font-size: 36px;
	color: #4D4D4D;
	font-weight: 600;
}

.clients-title__descr {
	font-size: 16px;
	color: #717171;
	font-weight: 400;
}

.clients__clients-list {
	width: 80%;
	display: flex;
	align-items: center;
}

.clients-list__list {
	padding: 25px 0 25px 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main__main-suitable {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.main-suitable__suitable-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.suitable-title__title {
	width: 37.7%;
	font-family: Inter;
	font-size: 36px;
	color: #4D4D4D;
	font-weight: 600;
	text-align: center;
}

.suitable-title__descr {
	width: 100%;
	font-family: Inter;
	font-size: 16px;
	color: #717171;
	font-weight: 600;
	text-align: center;
}

.main-suitable__suitable-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.suitable-content__suitable-chip {
	font-family: Inter;
	width: 20.77%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 4px 0px #ABBED133;
	padding: 24px 16px 24px 16px;
	gap: 8px;
	text-align: center;
}

.suitable-chip__icon {
	margin-bottom: 8px;
}

.suitable-chip__title {
	font-weight: 700;
	font-size: 28px;
	color: #4D4D4D;
}

.suitable-chip__descr {
	font-weight: 400;
	font-size: 14px;
	color: #717171;
	padding: 0 8px 0 8px;
}

.main__main-timespending {
	margin-top: 236px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3.41%;
}

.main-timespending__timespending-content {
	font-family: Inter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 41.74%;
	gap: 16px;
}

.timespending-content__title {
	font-size: 36px;
	font-weight: 600;
	color: #4D4D4D;
}

.timespending-content__descr {
	font-size: 14px;
	font-weight: 400;
	color: #717171;
}

.timespending-content__btn-cont {
	width: 100%;
	margin-top: 16px;
}

.timespending-content__button {
	color: white;
	font-weight: 500;
	font-size: 16px;
	background-color: #4CAF4F;
	padding: 14px 32px 14px 32px;
	border-radius: 4px;
}

.main__main-statistics {
	margin-top: 48px;
	padding: 64px 0 64px 0;
	width: 100%;
	background-color: #F5F7FA;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-statistics__statistics-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Inter;
}

.statistics-title__title {
	font-size: 36px;
	font-weight: 600;
	color: #4D4D4D;
}

.statistics-title__title span {
	color: #4CAF4F;
}

.statistics-title__descr {
	font-size: 16px;
	font-weight: 400;
	color: #18191F;
}

.main-statistics__statistics-content {
	width: 37.5%;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	column-gap: 5.56%;
	grid-template-rows: repeat(2, 1fr);
	row-gap:25%;
}

.statistics-content__statistics-chip {
	display: flex;
	gap: 6.28%;
	align-items: center;
}

.statistics-chip__chip-content {
	display: flex;
	flex-direction: column;
	font-family: Inter;
}

.chip-content__amount {
	font-size: 28px;
	font-weight: 700;
	color: #4D4D4D;
}

.chip-content__title {
	font-size: 16px;
	font-weight: 400;
	color: #717171;
}

.main__main-footer-design {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-footer-design__footer-design-content {
	font-family: Inter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 41.74%;
	gap: 16px;
}

.footer-design-content__title {
	font-size: 36px;
	font-weight: 600;
	color: #4D4D4D;
}

.footer-design-content__content {
	font-size: 14px;
	font-weight: 400;
	color: #717171;
}

.footer-design-content__btn-cont {
	width: 100%;
	margin-top: 16px;
}

.footer-design-content__button {
	color: white;
	font-weight: 500;
	font-size: 16px;
	background-color: #4CAF4F;
	padding: 14px 32px 14px 32px;
	border-radius: 4px;
}

@font-face {
	font-family: Inter;
	src: url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
}