:root {
	--bigtitle: 64px;
	--title: 36px;
	--bigparagraph: 28px;
	--paragraph: 20px;
	--bigdescr: 16px;
	--descr: 14px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main {
	min-width: 425px;
	max-width: 2048px;
}

.slider-title__text {
	background: linear-gradient(to left, yellow, blue);
	background-clip:text;
	color: transparent;
}

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #F5F7FA;
}

.nav {
	padding: 22px 0 22px 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.nav__nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.nav__nav-menu a {
	color: #18191F;
	font-family: Inter;
	font-weight: 500;
}

.nav__account-access {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;
}

.account-access__button--login {
	font-family: Inter;
	background-color: #F5F7FA;
	color: #4CAF4F;
	padding: 10px 20px 10px 20px;
	border-radius: 6px;
	font-size: var(--descr);
}

.account-access__button--signup {
	font-family: Inter;
	background-color: #4CAF4F;
	color: #F5F7FA;
	padding: 10px 20px 10px 20px;
	border-radius: 6px;
	font-size: var(--descr);
}

.header__slider {
	font-family: Inter;
	display: flex;
	width: 100%;
	padding: 96px 0 96px 0;
	align-items: center;
	justify-content: space-around;
}

.slider__slider-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.slider-title__text {
	font-size: var(--bigtitle);
	font-weight: 600;
	color: #4D4D4D;
}

.slider-title__text span {
	color: #4CAF4F;
}

.slider-title__descr {
	font-size: var(--bigdescr);
	font-weight: 400;
	color: #717171;
}

.slider-title__btn-cont {
	width: 100%;
	margin-top: 16px;
}

.slider-title__button {
	background-color: #4CAF4F;
	color: #FFFFFF;
	padding: 14px 32px 14px 32px;
	border-radius: 4px;
	font-size: var(--bigdescr);
	font-weight: 500;
}

.main__clients {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.clients__clients-title {
	width: 77.1%;
	font-family: Inter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.clients-title__title {
	font-size: var(--title);
	color: #4D4D4D;
	font-weight: 600;
}

.clients-title__descr {
	font-size: var(--bigdescr);
	color: #717171;
	font-weight: 400;
}

.clients__clients-list {
	width: 80%;
	display: flex;
	align-items: center;
}

.clients-list__list {
	padding: 25px 0 25px 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main__main-suitable {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.main-suitable__suitable-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.suitable-title__title {
	width: 37.7%;
	font-family: Inter;
	font-size: var(--title);
	color: #4D4D4D;
	font-weight: 600;
	text-align: center;
}

.suitable-title__descr {
	width: 100%;
	font-family: Inter;
	font-size: var(--bigdescr);
	color: #717171;
	font-weight: 600;
	text-align: center;
}

.main-suitable__suitable-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.suitable-content__suitable-chip {
	font-family: Inter;
	width: 20.77%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 4px 0px #ABBED133;
	padding: 24px 16px 24px 16px;
	gap: 8px;
	text-align: center;
}

.suitable-chip__icon {
	margin-bottom: 8px;
}

.suitable-chip__title {
	font-weight: 700;
	font-size: var(--bigparagraph);
	color: #4D4D4D;
}

.suitable-chip__descr {
	font-weight: 400;
	font-size: var(--descr);
	color: #717171;
	padding: 0 8px 0 8px;
}

.main__main-timespending {
	margin-top: 236px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3.41%;
}

.main-timespending__timespending-content {
	font-family: Inter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 41.74%;
	gap: 16px;
}

.timespending-content__title {
	font-size: var(--title);
	font-weight: 600;
	color: #4D4D4D;
}

.timespending-content__descr {
	font-size: var(--descr);
	font-weight: 400;
	color: #717171;
}

.timespending-content__btn-cont {
	width: 100%;
	margin-top: 16px;
}

.timespending-content__button {
	color: white;
	font-weight: 500;
	font-size: var(--bigdescr);
	background-color: #4CAF4F;
	padding: 14px 32px 14px 32px;
	border-radius: 4px;
}

.main__main-statistics {
	margin-top: 48px;
	padding: 64px 0 64px 0;
	width: 100%;
	background-color: #F5F7FA;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
}

.main-statistics__statistics-title {
	width: 37.5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Inter;
}

.statistics-title__title {
	font-size: var(--title);
	font-weight: 600;
	color: #4D4D4D;
}

.statistics-title__title span {
	color: #4CAF4F;
}

.statistics-title__descr {
	font-size: var(--bigdescr);
	font-weight: 400;
	color: #18191F;
}

.main-statistics__statistics-content {
	width: 37.5%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
	row-gap: 40px;
	justify-content: center;
	column-gap: 30px;
}

.statistics-content__statistics-chip {
	display: flex;
	gap: 6.28%;
	align-items: center;
}

.statistics-chip__chip-content {
	display: flex;
	flex-direction: column;
	font-family: Inter;
}

.chip-content__amount {
	font-size: var(--bigparagraph);
	font-weight: 700;
	color: #4D4D4D;
}

.chip-content__title {
	font-size: var(--bigdescr);
	font-weight: 400;
	color: #717171;
}

.main__main-footer-design {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-footer-design__footer-design-content {
	font-family: Inter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 41.74%;
	gap: 16px;
}

.footer-design-content__title {
	font-size: var(--title);
	font-weight: 600;
	color: #4D4D4D;
}

.footer-design-content__content {
	font-size: var(--descr);
	font-weight: 400;
	color: #717171;
}

.footer-design-content__btn-cont {
	width: 100%;
	margin-top: 16px;
}

.footer-design-content__button {
	color: white;
	font-weight: 500;
	font-size: var(--bigdescr);
	background-color: #4CAF4F;
	padding: 14px 32px 14px 32px;
	border-radius: 4px;
}

.main__main-customers {
	padding: 33px 0 33px 0;
	margin-top: 48px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5.42%;
	background-color: #F5F7FA;
}

.main-customers__customers-content {
	width: 51.95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.customers-content__content {
	width: 100%;
	font-family: Inter;
	font-weight: 500;
	font-size: var(--bigdescr);
	color: #717171;
}

.customers-content__customers-content-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}

.customers-content-title__title {
	width: 100%;
	font-family: Inter;
	font-weight: 600;
	font-size: var(--paragraph);
	color: #4CAF4F;
}

.customers-content-title__descr {
	font-family: Inter;
	font-weight: 400;
	font-size: var(--bigdescr);
	color: #89939E;
}

.customers-content__customers-list {
	width: 100%;
	margin-top: 16px;
	gap: 32px;
	display: flex;
	justify-content: space-between;
}

.customers-list__list {
	display: flex;
	gap: 32px;
	align-items: center;
	justify-content: center;
}

.customers-list__btn-cont {
	display: flex;
	align-items: center;
	justify-content: center;
}

.customers-list__button {
	display: flex;
	gap: 8px;
	font-family: Inter;
	font-weight: 600;
	font-size: var(--paragraph);
	color: #4CAF4F;
}

.customers-list__button::after{
	content: url(icon/main/Right_Arrow.svg);
}

.main__main-new-marketing {
	margin-top: 48px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.main-new-marketing__new-marketing-title {
	width: 77.09%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-family: Inter;
}

.new-marketing-title__title {
	width: 100%;
	font-weight: 600;
	font-size: var(--title);
	color: #4D4D4D;
	text-align: center;
}

.new-marketing-title__descr {
	font-weight: 400;
	font-size: var(--bigdescr);
	color: #717171;
	text-align: center;
	width: 56.58%;
}

.main-new-marketing__new-marketing-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6.95%;
}

.new-marketing-content__chip {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 22.02%;
	padding: 16px 16px 16px 16px;
	gap: 16px;
	background-color: #F5F7FA;
	box-shadow: 0px 8px 16px 0px #ABBED166;
	border-radius: 8px;
}

.new-marketing-content__chip-title {
	font-family: Inter;
	line-height: 28px;
	font-weight: 600;
	font-size: var(--paragraph);
	text-align: center;
	color: #717171
}

.new-marketing-content__chip-button {
	display: flex;
	gap: 8px;
	padding: 8px 0 8px 0;
	font-family: Inter;
	font-weight: 600;
	font-size: var(--paragraph);
	color: #4CAF4F;
}

.new-marketing-content__chip-button::after{
	content: url(icon/main/Right_Arrow.svg);
}

.main__main-demo {
	width: 100%;
	margin-top: 142px;
	padding: 32px 0 32px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F5F7FA;
	font-family: Inter;
}

.main-demo__demo-title {
	background-color: #F5F7FA;
	width: 51.60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

.demo-title__title {
	font-weight: 600;
	font-size: var(--bigtitle);
	text-align: center;
	color: #263238;
}

.demo-title__button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background-color: #4CAF4F;
	color: white;
	padding: 14px 32px 14px 32px;
	border-radius: 4px;
}

.demo-title__button::after{
	width: 16px;
	height: 16px;
	content: url(icon/main/Right_Arrow_Small.svg);
}

.footer {
	display: flex;
	width: 100%;
	padding: 64px 0 64px 0;
	align-items: center;
	justify-content: center;
	gap: 125px;
	background-color: #263238;
}

.footer__footer-copyright {
	width: 24.31%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.footer-copyright__title {
	width: 100%;
}

.footer-copyright__copyright-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;font-family: Inter;
	font-weight: 400;
	font-style: Regular;
	font-size: var(--descr);
	color: #F5F7FA;
}

.copyright-content__title, .copyright-content__content{
	width: 100%;
}

.footer-copyright__copyright-socials {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
}

.copyright-socials__copyright-list {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 16px;
}

.footer__footer-links {
	width: 44.10%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.footer-links__links-company {
	width: 25.20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.links-company__title {
	width: 100%;
	font-family: Inter;
	font-weight: 600;
	font-size: var(--paragraph);
	color: white;
}

.links-company__ul-cont{
	width: 100%;
}

.links-company__list {
	width: 100%;
	display: grid;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	color: red;
}

.links-company__list a {
	font-family: Inter;
	font-weight: 400;
	font-style: normal;
	font-size: var(--descr);
	color: #F5F7FA;
}

.footer-links__links-support {
	width: 25.20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.links-support__title {
	width: 100%;
	font-family: Inter;
	font-weight: 600;
	font-size: var(--paragraph);
	color: white;
}

.links-support__ul-cont{
	width: 100%;
}

.links-support__list {
	width: 100%;
	display: grid;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	color: red;
}

.links-support__list a {
	font-family: Inter;
	font-weight: 400;
	font-style: normal;
	font-size: var(--descr);
	color: #F5F7FA;
}

.footer-links__links-update {
	width: 40.16%;
	align-self: baseline;
}

.links-update__update-form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.update-form__title {
	font-family: Inter;
	font-weight: 600;
	font-size: var(--paragraph);
	color: white;
}

.update-form__input-cont {
	display: flex;
	justify-content: space-between;
	width: 255px;
	border-radius: 8px;
	background-color: #515b60;
	padding: 11px 12px 11px 12px;
	width: 100%;
	font-family: Inter;
	font-weight: 400;
	font-size: var(--descr);
}

.update-form__input-cont input{
	width: 100%;
	font-family: Inter;
	font-weight: 400;
	font-size: var(--descr);
	color: #D9DBE1;
}

.update-form__input::placeholder{
	font-family: Inter;
	font-weight: 400;
	font-size: var(--descr);
	color: #D9DBE1;
}

.update-form__button {
	height: 100%;
}

@font-face {
	font-family: Inter;
	src: url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
}

@media(max-width: 1024px) {
	:root {
		--bigtitle: 44px;
		--title: 26px;
		--bigparagraph: 20px;
		--paragraph: 14px;
		--bigdescr: 11px;
		--descr: 10px;
	}

	.nav {
		justify-content: space-between;
		padding: 10px 12px 0 12px;
	}

	.nav__nav-menu {
		gap: 30px;
	}

	.nav__account-access {
		gap: 10px;
	}

	.header__slider {
		padding: 67px 0 67px 0;
	}
	
	.slider-title__button {
    	padding: 12px 28px 12px 28px;
	    border-radius: 4px;
    	font-weight: 500;
	}

	.slider__slider-image {
		width: 273px;
	}

	.clients-list__list {
		padding: 18px 0 18px 0;
	}

	.main__main-timespending {
    margin-top: 170px;
	}

	.main-timespending__img-cont img{
		width: 310px;
	}

	.statistics-chip__icon img {
		width: 34px;
	}

	.main-footer-design__footer-design-image img {
		width: 310px;
	}

	.main-customers__customers-image {
		width: 251px;
	}

	.new-marketing-content__chip-title {
		line-height: 20px;
	}
}
@media (min-width: 1450px) {
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 22px 30px ;
	}
}