a {
	font-style: none;
	color: white;
}

.header {
	font-family: Work Sans;
	background-color: #74C69D;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 0 35px 0;
	gap: 40px;
	color: white;
}

.header .nav{
	display: flex;
	width: 70%;
	justify-content: space-between;
}

.header .nav__ul {
	display: flex;
	align-items: center;
	gap: 30px;
	font-size: 1.25rem;
}

.header .article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

.btn-cont__button {
	width: 170px;
	height: 48px;
	background-color: black;
	color: white;
	font-size: 20px;
	font-weight: 400;
	border-radius: 5px;
}

.main {
	font-family: Work Sans;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main__title {
	margin-top: 35px;
	width: 70%;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 16px;
}

.title__div:nth-child(1) {
	font-size: 16px;
	font-weight: 700;
	font-style: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
}


.title__div:nth-child(2) {
	font-family: Crimson Text;
	font-size: 40px;
	font-weight: 700;
	font-style: bold;
}


.title__div:nth-child(3) {
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
}

.footer {
	bottom: 0%;
	position: sticky;
	background-color: #74C69D;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__nav {
	margin: 50px 0 50px 0;
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.nav__socials {
	display: flex;
	justify-content: space-between;
	gap: 20px
}

.footer__copyright {
	font-family: Work Sans;
	font-weight: 400;
	font-size: 20px;
	color: white;
}

@font-face {
	font-family: Work Sans;
	src: url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
}

@font-face {
	font-family: Crimson Text;
	src: url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);
}