* {
	font-family: Work Sans;
}

a {
	font-style: none;
	color: white;
}

.header {
	background-color: #74C69D;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 0 35px 0;
	gap: 40px;
	color: white;
}

.header__nav,.nav{
	display: flex;
	width: 70%;
	justify-content: space-between;
}

.nav__ul {
	display: flex;
	align-items: center;
	gap: 30px;
	font-size: 20px;
}

.logo {
	font-size: 40px;
}

.section {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

.article__div:nth-child(1) {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 125%;
}

.article__div:nth-child(2) {
	font-size: 40px;
	font-weight: 700;
	
}

.article__div:nth-child(3) {
	font-size: 16;
	font-weight: 400;
	
}

.btn-cont__button {
	margin: 10px 0 0 0;
	width: 170px;
	height: 48px;
	background-color: white;
	color: black;
	font-size: 20px;
	font-weight: 400;
	border-radius: 5px;
}

.article__div {

}

@font-face {
		font-family: Work Sans;
		src: url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
	}